PORT=3000
JWT_SECRET=timixa_dev_secret_change_me
VAPID_PUBLIC_KEY=BHt0g_cNMtfx5nbQDr2di9Sy-8efiFdlbNpAmkFD_uQmhMTKyZngcA1EL4qCxdPzVO3J63QJb4P0HAH_SY5ISqQ
VAPID_PRIVATE_KEY=_csMpnpn__HTcZiQuQNbmo8uffnmkgpcoCV_kJG5Dos
VAPID_SUBJECT=mailto:demo@timixa.com
